.Button{
    margin:10px ;
}
.formContainer{
    border:2px solid black;
    width:80vw;
    display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 align-content: center;
 margin: 20px;
 padding:20px;
}
.ButtonContainer{
    margin:10px;
}
.gridItemSmall{
    margin:10px;
}
.gridItem{
    width:50vw;
    margin:10px;
}